*{
    margin: 0;
    padding: 0;
}
.landing{
    background: rgb(175,238,238);
background: linear-gradient(191deg, rgba(175,238,238,1) 0%, 
rgba(255,227,159,1) 47%, rgba(211,46,54,1) 100%);
    height: 100vh;
    
}
.headmenu{
    display: flex;
    height: 10%;
    background: rgb(175,238,238);
    background: linear-gradient(191deg, rgba(175,238,238,1) 0%,
     rgba(255,227,159,1) 47%, rgba(152,216,213,1) 100%);
     box-shadow: 4px 6px 8px #58babf ;
}
.l-navbar{
    margin: 0 auto;
    flex: 1;
    align-items: center;
 
}
@media screen and (max-width: 768px) {
    .headmenu {
        height: 15%;
        flex-direction: column;
        padding: 10px;
       
    }
}
@media screen and (max-width: 768px) {
    .l-navbar ul {
        
        flex-direction: column;
    }
}

.l-navbar ul{
    display: inline-flex;
    margin: 20px;
    color: #d32e36;
    font-weight: 600;
    padding: 10px;
}
.l-navbar ul li:hover{
    color: white;
}
.l-navbar ul li{
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    font-size: 25px;
}
.logo{
    list-style: none;
    flex: 1;
    display: flex;
    
    margin:0 auto;
    justify-content: right;
    
}
.landing  .logo img {
flex: 1;
display: flex;
width:100px;
height: 100px;
}
.landing  .logo img:hover{
    width:120px;
height: 120px;
}

.landing-head{
    height: 90vh;
    
    display: flex;
}
.landing-head .bg-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-head .bg-image img{
    height: 60%;

}
.landing-head .bg-image img:hover{
    height: 65%;
}
@media screen and (max-width: 768px) {
    .landing-head .bg-image img{
        margin-top: 100px;
       width: 350px;
    }
}
@media screen and (max-width: 768px) {
    .landing-head .bg-title .glow{
        color: antiquewhite;
     
    }
}
.landing-head .bg-title{
    flex: 1;
    padding: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.landing-head .bg-title h1{
    color: #58babf;
    font-size: 62px;
    font-family: cursive;
}
.landing-head .bg-title p{
    text-align: center;
    padding: 40px;
    width: 60%;
    color: #d32e36;
    font-weight: 600;
}
.landing-head .bg-title p:hover{
   border: 5px solid gray;
   cursor: pointer;
}
@media screen and (max-width: 768px) {
    .landing-head {
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .landing-head .bg-title h1{
       font-size:32px ;
    }
}

/**about */
@media screen and (max-width: 768px) {
    .about{
       height: 80vh;
    }
}

.about-head{
    height:400px;
    background: #d32e36;
    justify-content: center;
    align-items: center;
    display: flex;
}
.about-title{
    background: rgb(88,186,191);
background: linear-gradient(191deg, rgba(88,186,191,1) 0%, rgba(255,227,159,1) 100%);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 40px;
}
.about-title h1{
    font-family: cursive;
    font-size: 50px;
}
.about{
    height: 40vh;
    display: flex;
    width: 80%;
   
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid gray;
}
.about .box{
    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}
.about .box img{
    height: 80%;
}
.about .box-details{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
}
.about .box-details p{
    text-align: center;
}



/**about 2 */
.about-2{
    height: 40vh;
    display: flex;
    width: 80%;
   
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid gray;
    
}
.about-2 .box img{
    height: 80%;
    
}
.about-2 .box{
    flex: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.about-2 .box-details{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
}
.about-2 .box-details p{
    text-align: center;
}